{% extends 'base.html' %}

{% load static %}

{% block body %}


{%include 'includes/header.html' %}

  <!-- Mobile Header -->
    <div class="mobile-header">
      <div class="">
        <div class="mobile-header-content">
          <div class="mobile-logo">
            <a href="index.html">
              <img
                src="assets/img/logo/LOGO-02.png"
                alt="logo-img"
                width="200px"
                height="100px"
              />
            </a>
          </div>
          <div class="mobile-menu-toggle">
            <button class="hamburger hamburger--collapse" type="button">
              <span class="hamburger-box">
                <span class="hamburger-inner"></span>
              </span>
            </button>
          </div>
        </div>
      </div>
    </div>

    <!-- Mobile Menu -->
    <div class="mobile-menu-wrapper">
      <div class="mobile-menu-inner">
        <div class="mobile-menu-header">
          <div class="mobile-menu-logo">
            <a href="index.html">
              <img
                src="assets/img/logo/LOGO-02.png"
                alt="logo-img"
                width="150px"
                height="100px"
              />
            </a>
          </div>
          <div class="mobile-menu-close">
            <button class="close-button">
              <i class="fa-solid fa-xmark"></i>
            </button>
          </div>
        </div>
        <div class="mobile-menu-content">
          <nav class="mobile-main-menu">
            <ul>
              <li><a href="index.html">Home</a></li>
              <li><a href="about.html">About Us</a></li>
              <li class="menu-item-has-children">
                <a href="#" class="dropdown-toggle">Our Products</a>
                <ul class="dropdown">
                  <li>
                    <div class="mobile-products-container">
                      <!-- Single visible product slide -->
                      <div class="mobile-product-slide active">
                        <a href="liteProducts.html">
                          <div
                            class="product-image"
                            style="
                              background-image: url('https://res.cloudinary.com/ht4hxwcbr/image/upload/v1725101378/large_19cd5db746c2179d89f26cbb409ac073_6c15af1f32.webp');
                            "
                          >
                            <p class="product-model">Noovo <span>Lite</span></p>
                            <p class="product-price">
                              Starts at $162,700<br />or from
                              <span>$1,087/mo</span>
                            </p>
                          </div>
                        </a>
                      </div>

                      <!-- Hidden slides -->
                      <div class="mobile-product-slide">
                        <a href="popProducts.html">
                          <div
                            class="product-image"
                            style="
                              background-image: url('https://res.cloudinary.com/ht4hxwcbr/image/upload/v1725101381/large_5b3d9635fe523f3f371779619e8a3431_4ab50bbbaf.webp');
                            "
                          >
                            <p class="product-model">Noovo Pop</p>
                            <p class="product-price">
                              Starts at $174,200<br />or from
                              <span>$1,164/mo</span>
                            </p>
                          </div>
                        </a>
                      </div>

                      <div class="mobile-product-slide">
                        <a href="plusProducts.html">
                          <div
                            class="product-image"
                            style="
                              background-image: url('https://res.cloudinary.com/ht4hxwcbr/image/upload/v1725101378/large_396471adbfd8d579ca1ace00c9ef6964_523dda1a97.webp');
                            "
                          >
                            <p class="product-model">Noovo <span>Plus</span></p>
                            <p class="product-price">
                              Starts at $186,700<br />or from
                              <span>$1,248/mo</span>
                            </p>
                          </div>
                        </a>
                      </div>

                      <!-- Navigation arrows -->
                      <div class="mobile-product-nav">
                        <button class="prev-product">
                          <i class="fas fa-chevron-left"></i>
                        </button>
                        <button class="next-product">
                          <i class="fas fa-chevron-right"></i>
                        </button>
                      </div>
                    </div>
                  </li>
                </ul>
              </li>
              <li><a href="inventory.html">Projects</a></li>
              <li><a href="blog.html">Blog</a></li>
            </ul>
          </nav>
          <div class="mobile-menu-footer">
            <a
              href="https://meetings.hubspot.com/noovo/meet"
              class="mobile-menu-button"
              >Get a Schedule</a
            >
            <a href="Contact.html" class="mobile-menu-button">Get a Quote</a>
          </div>
        </div>
      </div>
    </div>

  
    <!-- Search Area Start -->
    <div class="search-wrap">
      <div class="search-inner">
        <i class="fas fa-times search-close" id="search-close"></i>
        <div class="search-cell">
          <form method="get">
            <div class="search-field-holder">
              <input
                type="search"
                class="main-search-input"
                placeholder="Search..."
              />
            </div>
          </form>
        </div>
      </div>
    </div>

    <section class="hero-section hero-1 bg-cover">
      <div class="slider" id="slider3">
          {% for banner in banners %}
          <div class="slide" style="background-image: url('{{ banner.image.url }}')">
              <div class="slide-content">
                  <h1 style="font-size: 70px; color: #000">{{ banner.title }}</h1>
                  <h2>{{ banner.subtitle }}</h2>
                  <div class="button-container">
                      <a class="button discover-button" href="index.html">
                          <div class="button-content">
                              <span>Discover Pop</span>
                              <div class="button-icon">
                                  <!-- Your button icon here -->
                              </div>
                          </div>
                      </a>
                      <a class="button reserve-button" target="_blank" href="reserveYourBuild.html">
                          <div class="button-content">
                              <span>Reserve your build</span>
                              <div class="button-icon">
                                  <!-- Your button icon here -->
                              </div>
                          </div>
                      </a>
                  </div>
              </div>
          </div>
          {% endfor %}
      </div>
  </section>

    <nav class="navs">
      <div class="nav-container1">
        <div class="nav-contents">
          <div class="nav-brand">
            <p class="brand-text">Noovo <span>Pop</span></p>
            <p class="price-text">Starts at $174,200 or $1,164 per month</p>
          </div>
          <div class="nav-actions">
            <a
              class="nav-button1"
              target="_blank"
              href="https://meetings.hubspot.com/noovo/meet"
            >
              <svg
                class="icons"
                xmlns="http://www.w3.org/2000/svg"
                width="12"
                height="12"
                viewBox="0 0 24 24"
                fill="none"
                stroke="currentColor"
                stroke-width="2"
                stroke-linecap="round"
                stroke-linejoin="round"
              >
                <path
                  d="M22 16.92v3a2 2 0 0 1-2.18 2 19.79 19.79 0 0 1-8.63-3.07 19.5 19.5 0 0 1-6-6 19.79 19.79 0 0 1-3.07-8.67A2 2 0 0 1 4.11 2h3a2 2 0 0 1 2 1.72 12.84 12.84 0 0 0 .7 2.81 2 2 0 0 1-.45 2.11L8.09 9.91a16 16 0 0 0 6 6l1.27-1.27a2 2 0 0 1 2.11-.45 12.84 12.84 0 0 0 2.81.7A2 2 0 0 1 22 16.92z"
                ></path>
              </svg>
              <div class="button-text">
                <div>Schedule a call</div>
                <div class="arrow-icon1">
                  <svg
                    width="16"
                    height="11"
                    viewBox="0 0 16 11"
                    fill="none"
                    xmlns="http://www.w3.org/2000/svg"
                  >
                    <path
                      d="M14.667 5.72222L0.500324 5.72222ZM8.59556 10.4444L14.667 5.72222ZM8.59556 1L14.667 5.72222Z"
                      fill="currentColor"
                    ></path>
                    <path
                      d="M14.667 5.72222L0.500324 5.72222M14.667 5.72222L8.59556 10.4444M14.667 5.72222L8.59556 1"
                      stroke="currentColor"
                      stroke-linecap="round"
                      stroke-linejoin="round"
                    ></path>
                  </svg>
                </div>
              </div>
            </a>
          </div>
        </div>
      </div>
    </nav>

    <section class="section1">
      <div class="container container5">
        <div class="content5">
          <div class="text-content5">
            <p class="heading5">Go Far. Travel Lite.</p>
            <h2 class="subheading5">
              The perfect van for solo travelers and adventurous duos—offering
              everything you need and more for the journey ahead.
            </h2>
            <h2 class="price">
              Starting at <span>$162,700 or $1,087 per month.</span>
            </h2>
          </div>
          <div class="image-container5">
            <img
              src="https://res.cloudinary.com/ht4hxwcbr/image/upload/v1739387024/PRUREZ_LITE_V4_1_60e83a4873.webp"
              alt="Go Far. Travel Lite."
              class="image5"
            />
            <button class="info-button" style="left: 43%; top: 16%">
              <svg
                xmlns="http://www.w3.org/2000/svg"
                width="16"
                height="16"
                viewBox="0 0 24 24"
                fill="none"
                stroke="currentColor"
                stroke-width="2"
                stroke-linecap="round"
                stroke-linejoin="round"
                class="lucide lucide-plus"
              >
                <path d="M5 12h14"></path>
                <path d="M12 5v14"></path>
              </svg>
            </button>
            <button class="info-button" style="left: 53%; top: 24%">
              <svg
                xmlns="http://www.w3.org/2000/svg"
                width="16"
                height="16"
                viewBox="0 0 24 24"
                fill="none"
                stroke="currentColor"
                stroke-width="2"
                stroke-linecap="round"
                stroke-linejoin="round"
                class="lucide lucide-plus"
              >
                <path d="M5 12h14"></path>
                <path d="M12 5v14"></path>
              </svg>
            </button>
            <button class="info-button" style="left: 65%; top: 55%">
              <svg
                xmlns="http://www.w3.org/2000/svg"
                width="16"
                height="16"
                viewBox="0 0 24 24"
                fill="none"
                stroke="currentColor"
                stroke-width="2"
                stroke-linecap="round"
                stroke-linejoin="round"
                class="lucide lucide-plus"
              >
                <path d="M5 12h14"></path>
                <path d="M12 5v14"></path>
              </svg>
            </button>
            <button class="info-button" style="left: 30%; top: 38%">
              <svg
                xmlns="http://www.w3.org/2000/svg"
                width="16"
                height="16"
                viewBox="0 0 24 24"
                fill="none"
                stroke="currentColor"
                stroke-width="2"
                stroke-linecap="round"
                stroke-linejoin="round"
                class="lucide lucide-plus"
              >
                <path d="M5 12h14"></path>
                <path d="M12 5v14"></path>
              </svg>
            </button>
            <button class="info-button" style="left: 90%; top: 16%">
              <svg
                xmlns="http://www.w3.org/2000/svg"
                width="16"
                height="16"
                viewBox="0 0 24 24"
                fill="none"
                stroke="currentColor"
                stroke-width="2"
                stroke-linecap="round"
                stroke-linejoin="round"
                class="lucide lucide-plus"
              >
                <path d="M5 12h14"></path>
                <path d="M12 5v14"></path>
              </svg>
            </button>
            <button class="info-button" style="left: 45%; top: 36%">
              <svg
                xmlns="http://www.w3.org/2000/svg"
                width="16"
                height="16"
                viewBox="0 0 24 24"
                fill="none"
                stroke="currentColor"
                stroke-width="2"
                stroke-linecap="round"
                stroke-linejoin="round"
                class="lucide lucide-plus"
              >
                <path d="M5 12h14"></path>
                <path d="M12 5v14"></path>
              </svg>
            </button>
          </div>
          <div class="features">
            <ul class="feature-list5">
              <li class="feature-item5">
                <svg
                  xmlns="http://www.w3.org/2000/svg"
                  width="24"
                  height="24"
                  viewBox="0 0 24 24"
                  fill="none"
                  stroke="currentColor"
                  stroke-width="2"
                  stroke-linecap="round"
                  stroke-linejoin="round"
                  class="lucide lucide-battery-charging"
                  style="color: #ffd700"
                >
                  <path d="M15 7h1a2 2 0 0 1 2 2v6a2 2 0 0 1-2 2h-2"></path>
                  <path d="M6 7H4a2 2 0 0 0-2 2v6a2 2 0 0 0 2 2h1"></path>
                  <path d="m11 7-3 5h4l-3 5"></path>
                  <line x1="22" x2="22" y1="11" y2="13"></line>
                </svg>
                <p class="feature-text5">
                  Live off-grid<br />for <span>7 days</span>
                </p>
              </li>
              <li class="feature-item5">
                <svg
                  xmlns="http://www.w3.org/2000/svg"
                  width="24"
                  height="24"
                  viewBox="0 0 24 24"
                  fill="none"
                  stroke="currentColor"
                  stroke-width="2"
                  stroke-linecap="round"
                  stroke-linejoin="round"
                  class="lucide lucide-sun-snow"
                  style="color: #ffd700"
                >
                  <path d="M10 9a3 3 0 1 0 0 6"></path>
                  <path d="M2 12h1"></path>
                  <path d="M14 21V3"></path>
                  <path d="M10 4V3"></path>
                  <path d="M10 21v-1"></path>
                  <path d="m3.64 18.36.7-.7"></path>
                  <path d="m4.34 6.34-.7-.7"></path>
                  <path d="M14 12h8"></path>
                  <path d="m17 4-3 3"></path>
                  <path d="m14 17 3 3"></path>
                  <path d="m21 15-3-3 3-3"></path>
                </svg>
                <p class="feature-text5">
                  40 gal of<br /><span>fresh water</span>
                </p>
              </li>
              <li class="feature-item5">
                <svg
                  xmlns="http://www.w3.org/2000/svg"
                  width="24"
                  height="24"
                  viewBox="0 0 24 24"
                  fill="none"
                  stroke="currentColor"
                  stroke-width="2"
                  stroke-linecap="round"
                  stroke-linejoin="round"
                  class="lucide lucide-users"
                  style="color: #ffd700"
                >
                  <path d="M16 21v-2a4 4 0 0 0-4-4H6a4 4 0 0 0-4 4v2"></path>
                  <circle cx="9" cy="7" r="4"></circle>
                  <path d="M22 21v-2a4 4 0 0 0-3-3.87"></path>
                  <path d="M16 3.13a4 4 0 0 1 0 7.75"></path>
                </svg>
                <p class="feature-text5">
                  Sleeps<br />up to <span>2 people</span>
                </p>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </section>

    <section class="gallery-section">
      <div class="gallery-container">
        <div class="gallery-grid">
          <!-- Gallery Images -->
          <ul class="gallery-images">
            {% for image in images %}
            <li class="gallery-item">
              <img src="{{ image.image.url }}" alt="{{ image.alt_text }}" class="gallery-image" />
              <div class="zoom-icon">
                <svg xmlns="http://www.w3.org/2000/svg" width="21" height="21" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="lucide lucide-zoom-in">
                  <circle cx="11" cy="11" r="8"></circle>
                  <line x1="21" x2="16.65" y1="21" y2="16.65"></line>
                  <line x1="11" x2="11" y1="8" y2="14"></line>
                  <line x1="8" x2="14" y1="11" y2="11"></line>
                </svg>
              </div>
            </li>
            {% endfor %}
          </ul>
          <!-- Gallery Text and Button -->
          <div class="gallery-text">
            <h2 class="gallery-heading">Gallery</h2>
            <p class="gallery-description">
              Life is beautiful on the road. Explore the world through the eyes
              of <span>#noovolite</span>.
            </p>
            <button class="gallery-button">
              <div class="button-text">
                <div>View Gallery</div>
                <div class="arrow-icon1">
                  <svg
                    width="16"
                    height="11"
                    viewBox="0 0 16 11"
                    fill="none"
                    xmlns="http://www.w3.org/2000/svg"
                  >
                    <path
                      d="M14.667 5.72222L0.500324 5.72222ZM8.59556 10.4444L14.667 5.72222ZM8.59556 1L14.667 5.72222Z"
                      fill="currentColor"
                    ></path>
                    <path
                      d="M14.667 5.72222L0.500324 5.72222M14.667 5.72222L8.59556 10.4444M14.667 5.72222L8.59556 1"
                      stroke="currentColor"
                      stroke-linecap="round"
                      stroke-linejoin="round"
                    ></path>
                  </svg>
                </div>
              </div>
            </button>
          </div>
        </div>

        <!-- Disclaimer -->
        <p class="disclaimer">
          Noovo provides the information on this website for general purposes
          only. We make no guarantees or warranties, express or implied,
          regarding the accuracy, reliability, or availability of the
          information, products, services, or related graphics and renderings on
          this site for any purpose.
        </p>
      </div>
    </section>

    <section class="why-noovo">
      <div class="container4">
        <div class="header4">
          <h2>Why Noovo?</h2>
          <p>
            From cooktops to connectivity, we’ve dialed in every detail so you
            can travel stress-free. Comfort is king.
          </p>
        </div>

        <ul class="features-lists">
          <li class="feature-items">
            <div class="feature-image">
              <img
                src="https://res.cloudinary.com/ht4hxwcbr/image/upload/v1732914591/Frame_1073714574_79b87ec07f.webp"
                alt="Craftsmanship"
              />
            </div>
            <div class="feature-text">
              <h3>Craftsmanship</h3>
              <p>
                Unparalleled custom design with rounded edges, self-closing
                drawers, and multi-purpose furniture.
              </p>
            </div>
          </li>

          <li class="feature-items">
            <div class="feature-image">
              <img
                src="https://res.cloudinary.com/ht4hxwcbr/image/upload/v1732914589/Frame_1073714574_2_66258a5918.webp"
                alt="Sleeping Area"
              />
            </div>
            <div class="feature-text">
              <h3>Sleeping Area</h3>
              <p>
                Fixed queen-sized bed with a 6" memory foam mattress, perfect
                support, and cozy tranquility.
              </p>
            </div>
          </li>

          <li class="feature-items">
            <div class="feature-image">
              <img
                src="https://res.cloudinary.com/ht4hxwcbr/image/upload/v1732914589/Frame_1073714574_4_451eec5cc4.webp"
                alt="Power System"
              />
            </div>
            <div class="feature-text">
              <h3>Power System</h3>
              <p>
                From 660Ah to a 1320Ah of reliable lithium battery power and
                400W of solar, you’ll stay powered off-grid.
              </p>
            </div>
          </li>

          <li class="feature-items">
            <div class="feature-image">
              <img
                src="https://res.cloudinary.com/ht4hxwcbr/image/upload/v1732914590/Frame_1073714574_6_100eef1df1.webp"
                alt="Air Conditioning"
              />
            </div>
            <div class="feature-text">
              <h3>Air Conditioning</h3>
              <p>
                Stay cool with on-demand AC. Our units provide up to 12h running
                time, using only 19A of power in Eco mode.
              </p>
            </div>
          </li>
        </ul>
        <ul class="features-lists">
          <li class="feature-items">
            <div class="feature-image">
              <img
                src="https://res.cloudinary.com/ht4hxwcbr/image/upload/v1732914591/Frame_1073714574_79b87ec07f.webp"
                alt="Craftsmanship"
              />
            </div>
            <div class="feature-text">
              <h3>Craftsmanship</h3>
              <p>
                Unparalleled custom design with rounded edges, self-closing
                drawers, and multi-purpose furniture.
              </p>
            </div>
          </li>

          <li class="feature-items">
            <div class="feature-image">
              <img
                src="https://res.cloudinary.com/ht4hxwcbr/image/upload/v1732914589/Frame_1073714574_2_66258a5918.webp"
                alt="Sleeping Area"
              />
            </div>
            <div class="feature-text">
              <h3>Sleeping Area</h3>
              <p>
                Fixed queen-sized bed with a 6" memory foam mattress, perfect
                support, and cozy tranquility.
              </p>
            </div>
          </li>

          <li class="feature-items">
            <div class="feature-image">
              <img
                src="https://res.cloudinary.com/ht4hxwcbr/image/upload/v1732914589/Frame_1073714574_4_451eec5cc4.webp"
                alt="Power System"
              />
            </div>
            <div class="feature-text">
              <h3>Power System</h3>
              <p>
                From 660Ah to a 1320Ah of reliable lithium battery power and
                400W of solar, you’ll stay powered off-grid.
              </p>
            </div>
          </li>

          <li class="feature-items">
            <div class="feature-image">
              <img
                src="https://res.cloudinary.com/ht4hxwcbr/image/upload/v1732914590/Frame_1073714574_6_100eef1df1.webp"
                alt="Air Conditioning"
              />
            </div>
            <div class="feature-text">
              <h3>Air Conditioning</h3>
              <p>
                Stay cool with on-demand AC. Our units provide up to 12h running
                time, using only 19A of power in Eco mode.
              </p>
            </div>
          </li>
        </ul>
      </div>
    </section>
    
  
    <div class="text-container mb-5">
      <h2 class="heading">
        <span></span>
        <span class="highlight">
          <span>{{ context.heading }}</span>
          <span class="underline"></span>
        </span>
        <span> to Roam. <br /><span>{{ context.subheading }}</span></span>
      </h2>
      <p class="subheading">
        {{ context.subheading }}
      </p>
    </div>
  

    <section class="image-section">
      <div class="image-wrapper">
        <!-- Images for the carousel -->
        <div class="image-carousel">
          {% for image in carousel_images %}
          <img
              src="{{ image.image.url }}"
              alt="{{ image.alt_text }}"
              class="slide-image {% if forloop.first %}active{% endif %}"
          />
          {% endfor %}
      </div>
      

        <!-- Navigation Buttons -->
        <div class="navigation-buttons">
          <button class="nav-button prev-button">&#10094;</button>
          <button class="nav-button next-button">&#10095;</button>
        </div>
      </div>
    </section>
     <section class="faq-section">
      <div class="faq-container">
        <div class="faq-header">
          <h2>Frequently Asked Questions</h2>
        </div>
        <ul class="faq-list">
          <li class="faq-item">
            <button class="faq-question">
              <div class="question-content">
                <h3>Can I rent before I buy?</h3>
                <div class="icon">
                  <svg
                    width="18"
                    height="18"
                    viewBox="0 0 18 18"
                    fill="none"
                    xmlns="http://www.w3.org/2000/svg"
                  >
                    <path
                      opacity="1"
                      d="M10.152 17.5H7.848V9.99395H0V7.97177H7.848V0.5H10.152V7.97177H18V9.99395H10.152V17.5Z"
                      fill="currentColor"
                    ></path>
                  </svg>
                </div>
              </div>
            </button>
            <div class="faq-answer">
              <p>
                Yes, we offer rental options so you can try before you buy.
                Contact us for more details.
              </p>
            </div>
          </li>
          <li class="faq-item">
            <button class="faq-question">
              <div class="question-content">
                <h3>Do you have any used vans for sale?</h3>
                <div class="icon">
                  <svg
                    width="18"
                    height="18"
                    viewBox="0 0 18 18"
                    fill="none"
                    xmlns="http://www.w3.org/2000/svg"
                  >
                    <path
                      opacity="1"
                      d="M10.152 17.5H7.848V9.99395H0V7.97177H7.848V0.5H10.152V7.97177H18V9.99395H10.152V17.5Z"
                      fill="currentColor"
                    ></path>
                  </svg>
                </div>
              </div>
            </button>
            <div class="faq-answer">
              <p>
                Yes, we have a selection of used vans available. Check out our
                inventory for more details.
              </p>
            </div>
          </li>
          <li class="faq-item">
            <button class="faq-question">
              <div class="question-content">
                <h3>How much are the taxes?</h3>
                <div class="icon">
                  <svg
                    width="18"
                    height="18"
                    viewBox="0 0 18 18"
                    fill="none"
                    xmlns="http://www.w3.org/2000/svg"
                  >
                    <path
                      opacity="1"
                      d="M10.152 17.5H7.848V9.99395H0V7.97177H7.848V0.5H10.152V7.97177H18V9.99395H10.152V17.5Z"
                      fill="currentColor"
                    ></path>
                  </svg>
                </div>
              </div>
            </button>
            <div class="faq-answer">
              <p>
                Taxes depend on your location and the type of van you purchase.
                Contact us for a detailed breakdown.
              </p>
            </div>
          </li>
          <li class="faq-item">
            <button class="faq-question">
              <div class="question-content">
                <h3>Do you build custom vans?</h3>
                <div class="icon">
                  <svg
                    width="18"
                    height="18"
                    viewBox="0 0 18 18"
                    fill="none"
                    xmlns="http://www.w3.org/2000/svg"
                  >
                    <path
                      opacity="1"
                      d="M10.152 17.5H7.848V9.99395H0V7.97177H7.848V0.5H10.152V7.97177H18V9.99395H10.152V17.5Z"
                      fill="currentColor"
                    ></path>
                  </svg>
                </div>
              </div>
            </button>
            <div class="faq-answer">
              <p>
                Yes, we specialize in custom van builds. Let us know your
                requirements, and we'll create a van tailored to your needs.
              </p>
            </div>
          </li>
        </ul>
        <!--div class="faq-footer">
                <a href="/faq/" class="read-more-button">
                    <span>Read more FAQs</span>
                    <svg width="16" height="11" viewBox="0 0 16 11" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path d="M14.667 5.72222L0.500324 5.72222ZM8.59556 10.4444L14.667 5.72222ZM8.59556 1L14.667 5.72222Z" fill="currentColor"></path>
                    <path d="M14.667 5.72222L0.500324 5.72222M14.667 5.72222L8.59556 10.4444M14.667 5.72222L8.59556 1" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round"></path>
                    </svg>
                </a>
                </!--div-->
      </div>
    </section>
    <!-- Service Sction Start -->
    <section
      class="service-section fix section-padding"
      style="
        background-image: url('{% static 'assets/img/van-image.webp' %}'); 
        background-size: contain;
        background-position: 0 150px;
        height: 1000px;
        width: 100%;
        background-repeat: no-repeat;
        align-items: center;
        padding-bottom: 20px;
      "
    >
      <div class="container">
        <div class="section-title text-center">
          <h6 class="fadeInUp">
            <img src="{% static 'assets/img/star.png" alt="img" />
            popular services
          </h6>
          <h3
            class="fadeInUp font-general font-[400] text-[30px] lg:text-[60px] leading-[30px] lg:leading-[60px] tracking-[-1.2px] lg:tracking-[-2.5px] text-white text-center"
            data-wow-delay=".3s"
          >
            Exclusive AI-powered <br />
            <span>idea & <b>automation</b> services</span>
          </h3>
          <div
            class="slide-buttons"
            style="
              display: flex;
              justify-content: center;
              align-items: center;
              gap: 20px;
            "
          >
            <a href="#" class="model-button black">
              <span>Learn More</span>
              <svg
                width="16"
                height="11"
                viewBox="0 0 16 11"
                fill="none"
                xmlns="http://www.w3.org/2000/svg"
              >
                <path
                  d="M14.667 5.72222L0.500324 5.72222ZM8.59556 10.4444L14.667 5.72222ZM8.59556 1L14.667 5.72222Z"
                  fill="currentColor"
                ></path>
                <path
                  d="M14.667 5.72222L0.500324 5.72222M14.667 5.72222L8.59556 10.4444M14.667 5.72222L8.59556 1"
                  stroke="currentColor"
                  stroke-linecap="round"
                  stroke-linejoin="round"
                ></path>
              </svg>
            </a>
            <a href="contact.html" class="model-button white">
              <span>Get Started</span>
              <svg
                width="16"
                height="11"
                viewBox="0 0 16 11"
                fill="none"
                xmlns="http://www.w3.org/2000/svg"
              >
                <path
                  d="M14.667 5.72222L0.500324 5.72222ZM8.59556 10.4444L14.667 5.72222ZM8.59556 1L14.667 5.72222Z"
                  fill="currentColor"
                ></path>
                <path
                  d="M14.667 5.72222L0.500324 5.72222M14.667 5.72222L8.59556 10.4444M14.667 5.72222L8.59556 1"
                  stroke="currentColor"
                  stroke-linecap="round"
                  stroke-linejoin="round"
                ></path>
              </svg>
            </a>
          </div>
        </div>
      </div>
    </section>
   
  <section class="testimonials-section">
      <div class="testimonials-container">
        <div class="testimonials-header">
          <h2 class="testimonials-title">
            <span>Loved by those who believe<br></span>
            <span class="highlight">adventure is mandatory.</span>
          </h2>
        </div>
        <div class="testimonials-grid">
          {% for testimonial in testimonials %}
          <div class="testimonial-card">
            <div class="testimonial-image" style="background-image: url('{{ testimonial.image.url }}');"></div>
            <div class="testimonial-content">
              <div class="testimonial-rating">
                {% for _ in "12345"|slice:":testimonial.rating" %}
                <svg width="10" height="10" viewBox="0 0 10 10" fill="none" xmlns="http://www.w3.org/2000/svg">
                  <path d="M5 0L6.12257 3.45492H9.75528L6.81636 5.59017L7.93893 9.04508L5 6.90983L2.06107 9.04508L3.18364 5.59017L0.244718 3.45492H3.87743L5 0Z" fill="currentColor"></path>
                </svg>
                {% endfor %}
              </div>
              <h3 class="testimonial-quote">{{ testimonial.quote }}</h3>
              <p class="testimonial-text">{{ testimonial.text }}</p>
            </div>
            <div class="testimonial-overlay"></div>
          </div>
          {% endfor %}
        </div>
      </div>
  </section>

    
    <!-- Footer Sction Start -->
    <footer class="footer-section footer-bg">
      <div class="container">
        <div class="footer-widgets-wrapper">
          <div class="row">
            <div
              class="col-xl-4 col-lg-4 col-md-6 wow fadeInUp"
              data-wow-delay=".2s"
            >
              <div class="single-footer-widget">
                <div class="footer-content">
                  <h3 class="mb-3">Subscribe our newsletter</h3>
                  <p style="color: #333; font-size: 20px">
                    Join us today, get update everyday
                  </p>
                  <div class="footer-input">
                    <input
                      type="email"
                      id="email"
                      placeholder="Enter email..."
                    />
                    <button class="newsletter-btn" type="submit">
                      <img src="{% static 'assets/img/circle-check.png" alt="img" />
                    </button>
                  </div>
                </div>
              </div>
            </div>
            <div
              class="col-xl-2 col-lg-4 col-md-6 ps-lg-5 wow fadeInUp"
              data-wow-delay=".4s"
            >
              <div class="single-footer-widget">
                <div class="widget-head">
                  <h3>Company</h3>
                </div>
                <ul class="list-items">
                  <li>
                    <a href="about.html"> About us </a>
                  </li>
                  <li>
                    <a href="contact.html"> Opportunity </a>
                  </li>
                  <li>
                    <a href="contact.html"> Events </a>
                  </li>
                  <li>
                    <a href="contact.html"> Consulting </a>
                  </li>
                  <li>
                    <a href="news.html"> Our blog </a>
                  </li>
                  <li>
                    <a href="contact.html"> Contact us </a>
                  </li>
                  <li>
                    <a href="contact.html"> Careers </a>
                  </li>
                  <li>
                    <a href="login.html"> User login </a>
                  </li>
                </ul>
              </div>
            </div>
            <div
              class="col-xl-3 col-lg-4 col-md-6 ps-lg-5 wow fadeInUp"
              data-wow-delay=".6s"
            >
              <div class="single-footer-widget">
                <div class="widget-head">
                  <h3>Company</h3>
                </div>
                <ul class="list-items">
                  <li>
                    <a href="service.html"> Graphic design </a>
                  </li>
                  <li>
                    <a href="service.html"> Marketing </a>
                  </li>
                  <li>
                    <a href="service.html"> Photography </a>
                  </li>
                  <li>
                    <a href="service.html"> Art generate </a>
                  </li>
                  <li>
                    <a href="service.html"> Face swap </a>
                  </li>
                  <li>
                    <a href="service.html"> Interior design </a>
                  </li>
                  <li>
                    <a href="service.html"> Face swap </a>
                  </li>
                  <li>
                    <a href="service.html"> Mockup create </a>
                  </li>
                </ul>
              </div>
            </div>
            <div
              class="col-xl-3 col-lg-4 col-md-6 ps-lg-3 wow fadeInUp"
              data-wow-delay=".8s"
            >
              <div class="single-footer-widget">
                <div class="widget-head">
                  <h3>Instagram</h3>
                </div>
                <div class="row g-3">
                  <div class="col-md-6 col-sm-4 col-4">
                    <div class="footer-thumb">
                      <img src="{% static 'assets/img/footer/gallery-1.jpg" alt="img" />
                      <a href="index.html" class="icon">
                        <i class="fa-brands fa-instagram"></i>
                      </a>
                    </div>
                  </div>
                  <div class="col-md-6 col-sm-4 col-4">
                    <div class="footer-thumb">
                      <img src="{% static 'assets/img/footer/gallery-2.jpg" alt="img" />
                      <a href="index.html" class="icon">
                        <i class="fa-brands fa-instagram"></i>
                      </a>
                    </div>
                  </div>
                  <div class="col-md-6 col-sm-4 col-4">
                    <div class="footer-thumb">
                      <img src="{% static 'assets/img/footer/gallery-3.jpg" alt="img" />
                      <a href="index.html" class="icon">
                        <i class="fa-brands fa-instagram"></i>
                      </a>
                    </div>
                  </div>
                  <div class="col-md-6 col-sm-4 col-4">
                    <div class="footer-thumb">
                      <img src="{% static 'assets/img/footer/gallery-4.jpg' %}" alt="img" />
                      <a href="index.html" class="icon">
                        <i class="fa-brands fa-instagram"></i>
                      </a>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="footer-bottom">
        <div class="container">
          <div class="footer-bottom-wrapper">
            <div
              class="logo-img wow fadeInUp"
              data-wow-delay=".3s"
              style="
                display: flex;
                justify-content: center;
                align-items: center;
              "
            >
              <a href="index.html">
                <img
                  src="{% static 'assets/img/logo/EyresAI-logo.png"
                  alt="logo-img"
                  width="80px"
                  height="100px"
                />
              </a>
              <p class="fadeInUp" data-wow-delay=".5s">
                EyresAI © 2024. All Rights Reserved.
              </p>
            </div>

           <div class="social-icon wow fadeInUp" data-wow-delay=".7s">
                            <a href="index.html">Home</a>
                            <a href="about.html">About</a>
                            <a href="inventory.html">projects</a>
                            <a href="blog.html">Blog</a>
                             <a href="contact.html">Contact</a>
                        </div>
          </div>
        </div>
      </div>
    </footer>
{% endblock body %}

   
