{% load static %}

<header id="header-sticky" class="header-1">
    <div class="container-fluid">
        <div class="mega-menu-wrapper">
            <div class="header-main">
                <div class="header-left">
                    <div class="mean__menu-wrapper">
                        <div class="main-menu">
                            <nav id="mobile-menu">
                                <ul>
                                    <li class="has-dropdown">
                                        <a href="{% url 'home' %}">Home</a>
                                    </li>
                                    <li>
                                        <a href="{% url 'about'%}">About Us</a>
                                    </li>
                                   <li class="has-dropdown">
                                        <a href="#" class="dropdown-toggle" id="our-modals-toggle" >Our Products</a>
                                        <ul class="dropdown" style="display: none;">
                                            <!-- Add the custom nav-menu here -->
                                            <li>
                                            <nav class="nav-menu" id="nav-menu">
                                                <div class="nav-container" style="display:flex; justify-content: center; gap: 20px;">
                                                <div class="nav-left">
                                                    <div class="nav-content">
                                                    <h4 class="nav-title">Our Products</h4>
                                                    <p class="nav-description">Custom-built in INDIA with <br>Artificial intelliegnce  <br> Smart Automation.</p>
                                                    </div>
                                                </div>
                                                <ul class="nav-grid" style="display: flex; justify-content: center;">
                                                    <li class="nav-item">
                                                    <a class="nav-link" href="{% url 'product1' %}">
                                                        <div class="nav-text nav-image p-3" style="background-image: url('https://res.cloudinary.com/ht4hxwcbr/image/upload/v1725101378/large_19cd5db746c2179d89f26cbb409ac073_6c15af1f32.webp');">
                                                        <p class="nav-model" style="color:#fff">product 1 </p>
                                                        <p class="nav-price" style="color:#fff">MRF<br></p>
                                                        </div>
                                                    </a>
                                                    </li>
                                                    <li class="nav-item">
                                                    <a class="nav-link" href="{% url 'product2' %}">
                                                        <div class="nav-text nav-image p-3" style="background-image: url('https://res.cloudinary.com/ht4hxwcbr/image/upload/v1725101381/large_5b3d9635fe523f3f371779619e8a3431_4ab50bbbaf.webp');">
                                                        <p class="nav-model" style="color:#fff">PRODUCT 2</p>
                                                        <p class="nav-price" style="color:#fff">TIRE INSECPTION<br></p>
                                                        </div>
                                                    </a>
                                                    </li>
                                                    <li class="nav-item">   
                                                    <a class="nav-link" href="{% url 'product3' %}">
                                                        <div class="nav-text nav-image p-3" style="background-image: url('https://res.cloudinary.com/ht4hxwcbr/image/upload/v1725101378/large_396471adbfd8d579ca1ace00c9ef6964_523dda1a97.webp');">
                                                        <p class="nav-model" style="color:#fff">PRODUCT 3  </p>
                                                        <p class="nav-price" style="color:#fff">TRB<br></p>
                                                        </div>
                                                    </a>
                                                    </li>
                                                </ul>
                                                </div>
                                            </nav>
                                            </li>
                                        </ul>
                                        </li>
                                    <li><a href="{% url 'inventory' %}">Projects</a></li>
                                    <!--li><a href="event.html">Event</a></!--li-->
                                    <li><a href="{% url 'blog' %}">Blog</a></li>
                                </ul>
                            </nav>
                        </div>
                    </div>
                </div>
                <div class="logo">
                    <a href="{% url 'home' %}" class="header-logo">
                        <img src="{% static 'assets/img/logo/eyres 1.png' %}" alt="logo-img" width="150px" height="120px">
                    </a>
                </div>
                <div class="header-right d-flex justify-content-end align-items-center">
                   <a href="https://meetings.hubspot.com/noovo/meet" class="join-text button">Get a Schedule <i class="fa-solid fa-arrow-up-right-from-square"></i></a>
                     <!--a href="Contact.html" class="join-text button"> Build your product <i class="fa-solid fa-arrow-up-right-from-square"></i></!--a-->
                    <a href="{% url 'Contact' %}" class="join-text button">Get a Quote <i class="fa-solid fa-arrow-up-right-from-square"></i></a>
                </div>
            </div>
        </div>
    </div>
</header>